$vanilla: #ff6f80;
$chocolate: #553c13;
$rose-color: #d00000;
$leaf-color: #2d6a4f;

// ... (Keep your existing @mixin foodColoring, .cake, .plate, .layer styles here) ...
// Ensure you include the existing code from your previous Cake.scss snippet before adding the code below

@mixin foodColoring($color) {
  background-color: $color;
  box-shadow: 0 2px 0px lighten($color, 5%), 0 4px 0px darken($color, 8.2%),
    0 6px 0px darken($color, 8.4%), 0 8px 0px darken($color, 8.6%),
    0 10px 0px darken($color, 8.8%), 0 12px 0px darken($color, 9%),
    0 14px 0px darken($color, 9.2%), 0 16px 0px darken($color, 9.4%),
    0 18px 0px darken($color, 9.6%), 0 20px 0px darken($color, 9.8%),
    0 22px 0px darken($color, 10%), 0 24px 0px darken($color, 10.2%),
    0 26px 0px darken($color, 10.4%), 0 28px 0px darken($color, 10.6%),
    0 30px 0px darken($color, 10.8%);
}

.cake {
  position: absolute;
  width: 250px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -125px;
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #83002e;
  border-radius: 50%;
  box-shadow: 0 2px 0 darken(#ce97fb, 10%), 0 4px 0 darken(#ccc, 10%),
    0 5px 40px rgba(#f6a5eb, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  @include foodColoring($chocolate);
}

.layer-top { top: 0px; }
.layer-middle { top: 33px; }
.layer-bottom { top: 66px; }

.icing {
  top: -1px;
  left: -1px;
  background-color: #ff2c92;
  width: 252px;
  height: 103px;
  border-radius: 50%;
  z-index: 2; // Increased Z-index to sit below roses but above layers
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: lighten($vanilla, 3%);
    box-shadow: 0 0 4px lighten($vanilla, 5%), 0 0 4px lighten($vanilla, 5%),
      0 0 4px lighten($vanilla, 5%);
    border-radius: 50%;
    z-index: 1;
  }
}

.drip {
  display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: $vanilla;
  z-index: 3; // Ensure drips are above icing
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

// ------------------------------------
// NEW ROSE STYLES
// ------------------------------------

.rose {
  width: 30px;
  height: 26px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 20%, #ff5e6c 10%, #d00000 70%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 5; // Sit on top of icing
  
  // Creates a swirl effect for the petals
  background-image: conic-gradient(
    from 45deg, 
    #b00000 0deg, 
    #ff4d6d 60deg, 
    #b00000 120deg, 
    #ff4d6d 180deg, 
    #b00000 240deg, 
    #ff4d6d 300deg, 
    #b00000 360deg
  );
  border: 1px solid #8a0000;
  
  // The Leaf
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 12px;
    background: $leaf-color;
    border-radius: 0 50% 0 50%;
    transform: rotate(-45deg);
    top: 15px;
    left: -8px;
    z-index: -1;
  }
}

// Positioning the Roses on the cake
.rose-1 {
  top: 10px;
  left: 40px;
}

.rose-2 {
  top: 15px;
  left: 170px;
  transform: scale(0.9);
}

.rose-3 {
  top: 35px;
  left: 110px;
  transform: scale(1.1);
  z-index: 6; // Center rose slightly on top
}